{% extends 'base.html' %}
{% load static %}




{% block title %}
My Restaurant
{% endblock title %}

{% block content %}
<h2>This is My Restaurant Page</h2>
<br>
<br>

<div>
    <h1>We Serves</h1>
    <ul>
        <h3>
            <li>Beef Items</li>
        </h3>
        
        <h3>
            <li>Chicken Items</li>
        </h3>

        <h3>
            <li>Dessert Items</li>
        </h3>
        
        <h3>
            <li>Lamb Items</li>
        </h3>
        
        <h3>
            <li>Miscellaneous Items</li>
        </h3>
        
        <h3>
            <li>Pasta </li>
        </h3>
    </ul>
</div>



{% endblock content %}