{% extends 'base.html' %}

{% block title %}
Add Author
{% endblock title %}


{% block content %}
{% load crispy_forms_tags %}


<br>

<div class="container w-50 my-5">
    <h1 class="text-center alert alert-primary">Add Author Page</h1>
    <br>
    <form method="post" novalidate>
        {% csrf_token %}

        <!-- {{form|crispy}} -->

        {% for fm in form %}
        {{fm.label_tag}} <br>
        {{fm}}
        {{fm.errors | striptags}} <br>
        {% endfor %}

        <button type="submit" class="btn btn-warning mb-5">Submit</button>
    </form>

</div>


{% endblock content %}