{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}

{% block content %}


<!-- <div class="container"> -->
    <div class="d-flex flex-wrap justify-content-center px-5 my-5">

        {% for post in data %}
        <div class="col-sm-3 mb-3 mb-sm-0 my-4  ">
            <div class="card mx-3">
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <p class="card-text">{{post.content}}</p>

                    <p>Author : {{post.author.name}}</p>
                    <p>
                        Category: 
                        
                        {% for cat in post.category.all %}
                            <button class="btn btn-primary btn-sm my-1" disabled>{{cat}}</button>
                        {% endfor %}
                    </p>
                    <a href="{% url 'edit_post' post.id %}" class="btn btn-warning">Edit</a>
                    <a href="{% url 'delete_post' post.id %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}


        

    </div>
<!-- </div> -->






{% endblock content %}