{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Password Change
{% endblock title %}

{% block content %}

<div class="container w-50 my-5">
    <h1 class="text-center my-2">This is Password Change</h1>
    <form method="post" novalidate>
        {% csrf_token %}

        {{form|crispy}}

        <!-- {% for fm in form %}
        {{fm.label_tag}} <br>
        {{fm}}
        {{fm.errors | striptags}} <br>
        {% endfor %} -->

        <button class="btn btn-primary mb-1">
            Submit
        </button>

        
    </form>
</div>



{% endblock content %}