{% extends 'base.html' %}

{% block title %}
Menu
{% endblock title %}


{% block content %}
<h2>This is Menu Page </h2>

<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-4 bg-success p-1">
            <h3>Beef Items</h3>
        </div>

        <div class="col-4 bg-danger p-1">
            <h3>Chicken Items</h3>
        </div>

        <div class="col-4 bg-info p-1">
            <h3>Dessert Items</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-4 bg-secondary p-1">
            <h3>Lamb Items</h3>
        </div>

        <div class="col-4 bg-primary p-1">
            <h3>Miscellaneous</h3>
        </div>

        <div class="col-4 bg-success p-1">
            <h3>Pasta</h3>
        </div>
    </div>
</div>

{% endblock content %}